.new-tracker {

    .form-container {
        display: flex;
        flex-direction: column;
        label{
            padding-top: 1rem;
        }
        input{
            margin-top: 0.5rem;
            padding: 0.5rem 0;
        }

        button{
            margin-top: 0.5rem;
            width: 100%;
            padding: 0.5rem 0;
            cursor: pointer;
            background: #82589F;
            outline: none;
            border: none;
            color: #fff;
        }
    }
  }