.history-container {
    padding-top: 0.5rem;   
    position: relative; 
    hr{
        opacity: 0.5;
    }
    .history  {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;
        padding: 0.3rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
 
    }
    .delete{
        background: #ff4757;
        color: #fff;
        border: none;
        outline: none;
        text-align: center;
        font-size: 1.2rem;
        position: absolute;
        cursor: pointer;
        top: 32%;
        left: -6%;
        padding: 0.25rem 0.4rem 0.5rem 0.3rem;
        opacity: 0;
        transition: all 0.3s ease;

    }
    .income{
        border-right: 5px solid #2ed573;
    }
    .exspense{
        border-right: 5px solid #ff4757;

    }

    &:hover .delete{
        opacity: 1;
    }
  }