
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h3{
    font-size: 1rem;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: #f1f2f6;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.trakcer-container{
    padding: 3rem 0;
    width: 350px;

    h1{
        text-align: center;
        font-size: 1.3rem;
    }
}

@import './balance.scss';
@import './history.scss';
@import './addTracker.scss';